body, html {
    
    border: solid black 1px;
    width: 1300px;
    height: 800px;
    margin: auto;    
    
    
}
h1{
   font-size: large; 

}
.topo{
    align-items: center; 
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.nsop{
    width: 80px;
    height: 40px;
    font-size: large;
    padding-left: 5px;
    
}
.Cabeca{
    margin: 2px;
    padding: 2px;
    display:flex;
    justify-content: space-between;
}
.operador{ 
    display: flex;

}
.txtLista{
    margin-left: 10px;
    padding-right: 16px;
    display: flex;
   background: rgba(179, 177, 177, 0.33);
   width: 1255px;
   justify-content: space-between;
     
}
.txtLista1{
    width: 1200px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
  
}
.txtLista2{
    margin-left: 50px;
    width: 400px;
    justify-content: space-between;
    display: flex;
 
}
input{
    width: 130px;
}
span{
    font-weight: 500;
    font-size: 19px;
    padding-bottom: 6px;
    display:inline;
    
}
.dadosProd{
    width: 700px;
    text-align: left;
    
}
.linha1{
    
    font-size: 19px;
    border-bottom: solid 5px green;
    
}
p{
    font-size: .75rem;
}
.hora{
    margin-left: 10px;
    padding-left: 5px;
    height: 35px;
    display: flex;
    width: 5px;
    background: rgba(124, 115, 255, 0.4);
    width: 40px;
    font-size: 16px;
   
}
.dados{  
    display: inline-flex;
        
}
.dadoshora{
    
    padding-left: 5px;
    line-height: 30px;
    width: 600px;
    box-shadow:inset 0px -8px 5px -4px  rgba(1, 255, 1, 0.5);
    
    font-weight: 500;

}
input.btm{
    margin-left: 8px;
    font-size: border: 20px;
    width: 55px;
    
}
.linhaDeDados{
    display: flex;
}
#bph{
    width: 52px;
    margin-left: 5px;
}
select#condicao{
    
    width: 150px;
    padding: 3px;
    margin-left: 5px;
}
select{
    background: rgba(0, 0, 255, 0.089);
    font-weight: 600;
   
}
.PROD{
    background: rgba(0, 128, 0, 0.300);
}
.PAR{
    background: rgba(255, 0, 0, 0.300);
}
.AJUS{
    background: rgba(255, 255, 0, 0.300);
}
.RETRA{
    background: rgba(128, 128, 128, 0.300);
}
.linhaBotao{
    margin-left: 10px;
    display: flex;
    
    
}
input.teste{
    margin-left: 2px;
    font-size: border: 10px;
    width: 80px;
    background: green;
    
}

